.header {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: black;
    background-color: #fbf8f3;
}

.header nav {
    width: 30%;
}

.header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

@media screen and (max-width: 1024px) {
    .header {
        font-size: .7rem;
    }
}

@media screen and (max-width: 768px) {
    .header nav ul {
        gap: .7rem;
        justify-content: space-between;
    }
    .header button {
        padding: .5rem !important;
    }
}