.signup {
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    display: flex;
}

.inputSection {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.authForm {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem 0rem;
    justify-content: center;
}

.authForm form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.authForm .errorMsg {
    color: red;
    font-size: .7rem;
}

.authForm span {
    text-align: center;
}

.authForm span a {
    color: rgb(88, 88, 228);
}

.termCondition {
    font-size: .7rem;
}

.carousel {
    color: white;
    width: 50%;
    background-color: rgb(88, 88, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.carousel img {
    width: 70%;
    height: 45%;
}

.carouselInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
    font-size: 2.5vmin;
}

.circles {
    padding: .5rem;
    display: flex;
    gap: .3rem;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(154, 154, 154);
}

.circle:first-child {
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .signup {
        flex-direction: column;
    }
    .inputSection {
        width: 100%;
    }
    .carousel {
        width: 100%;
    }
    .carouselInfo {
        width: 70%;
    }
    .authForm {
        width: 70%;
        gap: 1rem;
        padding: 3rem 0rem;
    }
}