.inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .3rem
}

.inputBox label {
    font-size: .7rem;
}

.inputBox input {
    border: 1px solid rgb(202, 202, 202);
    outline: none;
    background-color: transparent;
    padding: .8rem;
    border-radius: 5px;
    color: black;
    width: 100%;
}

.inputBox .input {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row-reverse;
}

.icon {
    position: absolute;
    padding: 0 .4rem;
    color: rgb(90, 90, 90);
    cursor: pointer;
}